In [36]:
import alpaca_trade_api as tradeapi

In [37]:
api_key = 'PK6DPMCFN81PFZSA5CCZ'
api_secret = 'sS7OAqSHpZVq05mJdeZ2PtsxU7qqZ0fg1t7fF0fq'
api_url = "https://paper-api.alpaca.markets"

In [38]:
API = tradeapi.REST(api_key, api_secret, base_url=api_url)

In [39]:
historic = API.get_bars("AAPL", '1Min', limit=100).df
print(len(historic))

100

In [40]:
historic.reset_index(inplace=True)
historic.rename(columns= {'index': 'timestamp'}, inplace=True)
historic

,timestamp,close,high,low,trade_count,open,volume,vwap
0,2024-01-09 09:00:00+00:00,185.00,185.34,184.97,106,185.34,1726,185.099108
1,2024-01-09 09:01:00+00:00,185.00,185.00,185.00,57,185.00,1546,185.021164
2,2024-01-09 09:02:00+00:00,185.00,185.00,185.00,47,185.00,1288,185.001048
3,2024-01-09 09:03:00+00:00,185.10,185.10,185.00,56,185.00,2493,185.046470
4,2024-01-09 09:05:00+00:00,185.00,185.07,185.00,50,185.07,2133,185.040384
...,...,...,...,...,...,...,...,...
95,2024-01-09 12:53:00+00:00,184.60,184.66,184.57,55,184.57,3105,184.632947
96,2024-01-09 12:54:00+00:00,184.60,184.60,184.60,32,184.60,1293,184.608074
97,2024-01-09 12:55:00+00:00,184.68,184.76,184.68,57,184.76,1836,184.716345
98,2024-01-09 12:56:00+00:00,184.61,184.67,184.57,65,184.67,2665,184.623857
99,2024-01-09 12:57:00+00:00,184.55,184.57,184.55,43,184.57,2088,184.554636

In [41]:
import pandas as pd
old_data = pd.DataFrame(columns=['timestamp', 'open', 'high', 'low', 'close', 'volume',])

In [42]:
old_data = pd.concat([old_data, historic[old_data.columns]])
old_data

                   timestamp    open    high     low   close volume
0  2024-01-09 09:00:00+00:00  185.34  185.34  184.97  185.00   1726
1  2024-01-09 09:01:00+00:00  185.00  185.00  185.00  185.00   1546
2  2024-01-09 09:02:00+00:00  185.00  185.00  185.00  185.00   1288
3  2024-01-09 09:03:00+00:00  185.00  185.10  185.00  185.10   2493
4  2024-01-09 09:05:00+00:00  185.07  185.07  185.00  185.00   2133
..                       ...     ...     ...     ...     ...    ...
95 2024-01-09 12:53:00+00:00  184.57  184.66  184.57  184.60   3105
96 2024-01-09 12:54:00+00:00  184.60  184.60  184.60  184.60   1293
97 2024-01-09 12:55:00+00:00  184.76  184.76  184.68  184.68   1836
98 2024-01-09 12:56:00+00:00  184.67  184.67  184.57  184.61   2665
99 2024-01-09 12:57:00+00:00  184.57  184.57  184.55  184.55   2088

[100 rows x 6 columns]

In [43]:
old_data.reset_index(inplace=True)
old_data.rename(columns= {'index': 'timestamp'}, inplace=True)
old_data

   timestamp                 timestamp    open    high     low   close volume
0          0 2024-01-09 09:00:00+00:00  185.34  185.34  184.97  185.00   1726
1          1 2024-01-09 09:01:00+00:00  185.00  185.00  185.00  185.00   1546
2          2 2024-01-09 09:02:00+00:00  185.00  185.00  185.00  185.00   1288
3          3 2024-01-09 09:03:00+00:00  185.00  185.10  185.00  185.10   2493
4          4 2024-01-09 09:05:00+00:00  185.07  185.07  185.00  185.00   2133
..       ...                       ...     ...     ...     ...     ...    ...
95        95 2024-01-09 12:53:00+00:00  184.57  184.66  184.57  184.60   3105
96        96 2024-01-09 12:54:00+00:00  184.60  184.60  184.60  184.60   1293
97        97 2024-01-09 12:55:00+00:00  184.76  184.76  184.68  184.68   1836
98        98 2024-01-09 12:56:00+00:00  184.67  184.67  184.57  184.61   2665
99        99 2024-01-09 12:57:00+00:00  184.57  184.57  184.55  184.55   2088

[100 rows x 7 columns]

In [44]:
old_data = pd.DataFrame(columns=['timestamp', 'open', 'high', 'low', 'close', 'volume',])
old_data

Empty DataFrame
Columns: [timestamp, open, high, low, close, volume]
Index: []

In [8]:
API.submit_order(
    symbol="AAPL",
    qty=3,
    side="buy",
    type='market',
    time_in_force='gtc',
)

Order({   'asset_class': 'us_equity',
    'asset_id': 'b0b6dd9d-8b9b-48a9-ba46-b9d54906e415',
    'canceled_at': None,
    'client_order_id': '3eeb6a04-cc3b-4c32-a89b-a2b8df847ef1',
    'created_at': '2024-01-08T03:08:04.226474532Z',
    'expired_at': None,
    'extended_hours': False,
    'failed_at': None,
    'filled_at': None,
    'filled_avg_price': None,
    'filled_qty': '0',
    'hwm': None,
    'id': '811aa96e-c205-474a-8fcb-a26adbd049d5',
    'legs': None,
    'limit_price': '182',
    'notional': None,
    'order_class': '',
    'order_type': 'limit',
    'qty': '3',
    'replaced_at': None,
    'replaced_by': None,
    'replaces': None,
    'side': 'buy',
    'source': None,
    'status': 'accepted',
    'stop_price': None,
    'submitted_at': '2024-01-08T03:08:04.225908292Z',
    'subtag': None,
    'symbol': 'AAPL',
    'time_in_force': 'gtc',
    'trail_percent': None,
    'trail_price': None,
    'type': 'limit',
    'updated_at': '2024-01-08T03:08:04.226474532Z'})